# YOUR PROJECT TITLE

> **Note the following:** 
> 1. This is *not* meant to be an example of an actual **data analysis project**, just an example of how to structure such a project.
> 1. Remember the general advice on structuring and commenting your code
> 1. The `dataproject.py` file includes a function which can be used multiple times in this notebook.

Imports and set magics:

In [132]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets
#from matplotlib_venn import venn2
plt.style.use('seaborn-whitegrid')
#import pydst
#dst = pydst.Dst(lang='en')

# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

# user written modules
import dataproject

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Read and clean data

In [133]:
#Loading the data for GDP and house prices in Denmark from 2012-2022 
df_gdp = pd.read_excel('GDP.xlsx', skiprows=2)
df_hp = pd.read_excel('Houseprices.xlsx', skiprows=2)

In [ ]:
#Cleaning data for GDP

In [134]:
#Cleaning data for Houseprices 

#Giving a column title for the municipalities:
df_hp.rename(columns={'Unnamed: 2': 'municipality'}, inplace=True)

#Removing the columns that is not used
del df_hp['Unnamed: 0']
del df_hp['Unnamed: 1']

#Renaming time colums 1992K1 -> price1992 q1
timecolumn_dict = {} 
for y in range(2012,2022+1): 
    for k in range(1,4+1): 
        q_from = f'{y}K{k}'
        q_to   = f'price{y} q{k}'
        timecolumn_dict[q_from] = q_to
df_hp = df_hp.rename(columns = timecolumn_dict)

#Dropping missing values
df_hp = df_hp.dropna()


df_hp.head()

,municipality,price2012 q1,price2012 q2,price2012 q3,price2012 q4,price2013 q1,price2013 q2,price2013 q3,price2013 q4,price2014 q1,...,price2020 q3,price2020 q4,price2021 q1,price2021 q2,price2021 q3,price2021 q4,price2022 q1,price2022 q2,price2022 q3,price2022 q4
0,Hele landet,10972,11072,11084,10931,11041,11167,11128,11082,11100,...,14752,15076,15736,16377,16595,16528,16747,16898,16412,15491
1,København,22289,23782,23343,22932,24217,24611,24334,25883,25429,...,40458,42173,45636,46966,49455,47726,48374,50551,48954,42327
2,Frederiksberg,27052,27321,33137,34696,35653,34015,30697,33955,38057,...,54290,64237,63713,74204,73317,77872,80966,90034,76108,54166
3,Dragør,23083,19853,20733,21718,22948,23766,23803,23063,24022,...,33646,31565,35614,39863,37155,38977,39221,39417,41378,34750
4,Tårnby,17417,18042,19078,18386,18540,19386,21018,20756,20155,...,29363,29819,32239,36583,36839,34563,35810,35703,33769,29328

In [137]:
#Producing a summary statistics for house prices
df_hp.describe()

,price2013 q1,price2016 q2,price2016 q3,price2016 q4,price2017 q3,price2017 q4,price2018 q1,price2018 q3,price2019 q1,price2019 q2,price2019 q3,price2019 q4,price2020 q2,price2020 q4,price2021 q1,price2021 q2,price2021 q3,price2022 q1
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,11584.212121,13308.202020,13398.494949,13333.464646,14044.808081,14073.151515,14257.212121,14655.434343,14515.525253,14950.555556,15027.797980,15086.212121,15326.353535,16156.929293,16876.484848,17797.757576,18007.666667,18288.494949
std,6151.255638,8045.081508,8077.341822,8136.096769,8869.715439,8942.745513,8919.626617,8987.988865,9044.633961,9236.066443,9286.963506,9612.462419,9675.658839,10839.403469,11376.872476,12561.635234,12827.987292,13375.719587
min,4591.000000,3753.000000,3542.000000,3341.000000,4015.000000,4041.000000,4270.000000,4885.000000,3845.000000,3577.000000,3782.000000,3300.000000,3860.000000,4088.000000,4553.000000,5134.000000,4746.000000,4872.000000
25%,7051.000000,7516.000000,7317.000000,7141.000000,7499.500000,7291.500000,7472.500000,7678.500000,7515.500000,7796.000000,7892.500000,7987.000000,7955.500000,8364.000000,8348.000000,8826.500000,8800.500000,8683.000000
50%,9591.000000,10465.000000,10570.000000,10560.000000,10857.000000,10651.000000,11158.000000,11458.000000,11228.000000,11722.000000,11660.000000,11738.000000,12061.000000,11972.000000,12297.000000,13131.000000,12833.000000,13136.000000
75%,15836.500000,19116.000000,19488.000000,19382.500000,20122.500000,19739.000000,20351.500000,20486.000000,20970.000000,21202.500000,20890.500000,21494.000000,21605.000000,23290.500000,24441.500000,24928.000000,25350.000000,25932.000000
max,35653.000000,44624.000000,42008.000000,42545.000000,52597.000000,53700.000000,49203.000000,49540.000000,48487.000000,50732.000000,48625.000000,53979.000000,52770.000000,64237.000000,63713.000000,74204.000000,73317.000000,80966.000000

## Explore each data set

In order to be able to **explore the raw data**, you may provide **static** and **interactive plots** to show important developments

**Interactive plot** :

In [135]:
def plot_func():
    # Function that operates on data set
    pass

widgets.interact(plot_func, 
    # Let the widget interact with data through plot_func()    
);

interactive(children=(Output(),), _dom_classes=('widget-interact',))

Explain what you see when moving elements of the interactive plot around.

# Merge data sets

Now you create combinations of your loaded data sets. Remember the illustration of a (inner) **merge**:

In [136]:
plt.figure(figsize=(15,7))
v = venn2(subsets = (4, 4, 10), set_labels = ('Data X', 'Data Y'))
v.get_label_by_id('100').set_text('dropped')
v.get_label_by_id('010').set_text('dropped' )
v.get_label_by_id('110').set_text('included')
plt.show()

NameError: name 'venn2' is not defined

Here we are dropping elements from both data set X and data set Y. A left join would keep all observations in data X intact and subset only from Y. 

Make sure that your resulting data sets have the correct number of rows and columns. That is, be clear about which observations are thrown away. 

**Note:** Don't make Venn diagrams in your own data project. It is just for exposition.

# Analysis

To get a quick overview of the data, we show some **summary statistics** on a meaningful aggregation.

MAKE FURTHER ANALYSIS. EXPLAIN THE CODE BRIEFLY AND SUMMARIZE THE RESULTS.

# Conclusion

ADD CONCISE CONLUSION. tester 123